* {
    font-family: Lato, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.first {
    background-color: #1F2937;
    color: white;
    padding: 40px 50px 100px 50px;
}

.logo {
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(168, 168, 168);
}

.intro{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.intro-left{
    max-width: 600px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    padding:8px 25px;
}

button:hover{
    background-color: #0046b8;
}

#code-img {
    width: 300px;
}

.second {
    margin-top: 100px;
    margin-bottom: 100px;
}

.second-title {
    text-align:center;
    margin-bottom: 70px; 
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.info {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 60px;
}

.info-content {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote {
    font-style: italic;
    font-size: 36px;
    font-weight: 200;
    color: #1F2937;
    max-width: 900px;
}

.cta {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sign-up{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.cta-button {
    border-style: solid;
    border-color: white;
}

.cta-button:hover{
    background-color: white;
    color: black;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: white;
    padding: 10px 0px;
}